{% comment %}
Ce fichier reçoit un objet 'application' en paramètre.
Exemple d'utilisation : {% include app_card.html application=app %}
{% endcomment %}

{% assign app = include.application %}

<div class="app-card">
    <div class="app-icon">
    {% comment %}
    Si une icône est spécifiée, utilisez-la. Sinon, utilisez un placeholder.
    La taille de l'image est définie par le CSS.
    {% endcomment %}
    {% if app.icon %}
        <img src="{{ app.icon | relative_url }}" alt="{{ app.title }} Icon" loading="lazy">
    {% else %}
        {# Placeholder avec un fond coloré, inspiré de la maquette #}
        <div class="app-icon-placeholder" style="background-color: hsl({{ app.title | hash | modulo: 360 }}, 70%, 85%);">
            <span>{{ app.title | slice: 0, 1 | upcase }}</span>
        </div>
    {% endif %}
    </div>
    <h2>{{ app.title }}</h2>
    <p>{{ app.description | truncatewords: 20 }}</p>
    <span class="app-theme">{{ app.theme }}</span>
    <a href="{{ app.url | relative_url }}" class="learn-more">En savoir plus</a>
    <p class="last-updated-card">Dernière mise à jour : {{ app.last_updated | date: "%Y-%m-%d" }}</p>
</div>
