<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {% include head.html %}
  <body>
    {% include header.html %}
    <div class="site-main-content-wrapper"> {# Nouveau wrapper pour le contenu principal et la sidebar #}
        <div class="wrapper main-content">
            <aside class="sidebar">
                {% include sidebar.html %} {# Nous allons créer ce fichier ensuite #}
            </aside>
            <main class="page-content" aria-label="Content">
                {{ content }}
            </main>
        </div>
    </div>
    {% include footer.html %}
  </body>
</html>
